<ion-header [translucent]="true">
  <ion-toolbar style="--background: var(--marrom); --color: white;">
    <ion-title>Detalhes da Criança</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="selectedChild">
  <h2>{{ selectedChild.name }}</h2>
  <p>{{ selectedChild.age }} ano(s)</p>

  <ion-list>
    <ion-item *ngFor="let vacina of selectedChild.vacinas"
    style="border: 2px solid var(--marrom);">
      <ion-label>
       {{ vacina.name }}
       <p [style.color]="vacina.status == 'Em dia' ? 'var(--verde)' : vacina.status == 'Pendente' ? 'var(--amarelo)' : 'var(--laranja)'" >
         {{ vacina.status }}
       </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
